<div class="processing-info-section">
    <h4>PROCESSING INFORMATION</h4>
    <table class="table">
        <thead>
            <tr>
                <th>Fill</th>
                <th>Primary</th>
                <th>2nd Payor</th>
                <th>DOS</th>
                <th>
                    <div>
                        <button class="secondary-button" pButton label="Process"></button>
                    </div>
                </th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>0</td>
                <td>CRK</td>
                <td>Opus</td>
                <td>01/01/2018</td>
                <td></td>
            </tr>
        </tbody>
    </table>


    <form class="form-inline form-custom" [formGroup]="processingInfoForm">
        <div class="form-group">
            <label for="quantity">Quantity</label>
            <input type="text" pInputText class="form-control quantity" formControlName="quantity" [(ngModel)]="processingInfoData['quantity']" id="quantity" />
        </div>
        <div class="form-group">
            <label for="billedDaysSupply">Billed Days Supply</label>
            <input type="text" pInputText class="form-control billedDaysSupply" formControlName="billedDaysSupply" [(ngModel)]="processingInfoData['billedDaysSupply']" id="billedDaysSupply">
        </div>
        <div class="form-group">
            <label for="actualDaysSupply">Actual Days Supply</label>
            <input type="text" pInputText class="form-control actualDaysSupply" formControlName="actualDaysSupply" [(ngModel)]="processingInfoData['actualDaysSupply']" id="actualDaysSupply">
        </div>
    </form>
</div>